@import url('../../.cache/wal/colors-waybar.css');

* {
    all: unset;
    font-size: 18px;
    font-family: "JetBrainsMono Nerd Font Mono", "FiraCode Nerd Font", "monospace";
}

.modules-left,
.modules-center,
.modules-right {
    padding: 7px;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
}

.modules-left {
    margin: 8px 0 5px 10px;
}

.modules-center {
    margin: 8px 0 5px 0;
}

.modules-right {
    margin: 8px 10px 5px 0;
}

tooltip {
    background: @background;
    color: @color7;
}

#custom-notification:hover,
#clock:hover, 
#custom-cliphist:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#bluetooth:hover,
#network:hover,
#custom-power:hover {
    transition: all .3s ease;
    color: @color9;
}

/* Modules Left */

#custom-notification,
#clock {
    padding: 0 10px;
    transition: all .3s ease;
    color: @color7;
}

#clock {
    font-size: 14px;
}

#tray {
    padding: 0 8px;
    transition: all .3s ease;
}

#tray menu * {
    padding: 0 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0 5px;
    transition: all .3s ease;
}

/* Modules Center */

#workspaces {
    padding: 0 10px;
}

#workspaces button {
    padding: 0 5px;
    color: alpha(@color9, .4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0 0 1.5px rgba(0, 0, 0, .5);
    transition: all .5s ease;
}

#workspaces button.active {
    color: @color9;
    border: none;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0 0 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0 0 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @color9;
    border: none;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

/* Modules Right */

#custom-expand {
    padding: 0 5px;
    color: alpha(@foreground, .2);
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, .2);
    text-shadow: 0 0 2px rgba(255, 255, 255, .5);
}

#custom-cliphist,
#custom-colorpicker,
#cpu,
#memory,
#temperature {
    padding: 0 6px;
    transition: all .3s ease;
    color: @color7;
}

#temperature {
    padding-left: 0;
    font-size: 16px;
}

#custom-separator {
    color: transparent;
    text-shadow: 0 0 1.5px rgba(12, 12, 12, 0.38);
}

#bluetooth,
#network,
#custom-power {
    padding: 0 6px;
    transition: all .3s ease;
    color: @color7;
}

#bluetooth {
  font-size: 16px;
}